:root {
  font-size: 16px;
  --tomato: hsl(4, 100%, 67%);
  --darkSlateGrey: hsl(234, 29%, 20%);
  --charcoalGrey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  position: relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--darkSlateGrey);
  /* border: 1px solid red; */
}

.card {
  width: 100%;
}

.card-rigth {
  margin-bottom: 2.5rem;
  /* border: 1px solid red; */
}

.card-rigth img {
  width: 100%;
  vertical-align: middle;
}

.card-left {
  margin: 0 1.5rem 2.5rem;
}

.card-title {
  margin: 0 0 1.5rem 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.card-body {
  margin-bottom: 1.5rem;
}

.card-text {
  line-height: 1.5rem;
}

.card-list {
  margin: 0 0 2.5rem 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.card-list-item {
  display: flex;
  gap: 1rem;
  line-height: 1.5rem;
}

.card-form {
  /* margin-bottom: 2.5rem; */
}

.email {
  margin-bottom: 1.5rem;
}

.email label {
  /* display: block; */
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.125rem;
 
}

.email-invalid {
  display: none;
  float: right;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--tomato);
  line-height: 1.125rem;
}

.email-invalid.show {
  display: block;
}

.form-input,
.button {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey);
  outline: none;
  background-color: var(--white);
  color: var(--darkSlateGrey);
}

.form-input::placeholder {
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 0 1px 2px var(--grey);
}

.form-input.form-input-isRed {
  border: 1px solid var(--tomato);
  background-color: hsl(4, 100%, 67%, 15%);
  color: var(--tomato);
}

.button {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: var(--white);
  background-color: var(--darkSlateGrey);
}

.button:active {
  transform: scale(0.99);
}

.modal {
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

.modal-content {
  padding: 9.375rem 1.5rem 2.5rem 1.5rem;

}

.modal-content h5 {
  margin: 2.5rem 0 1.5rem 0;
  font-size: 2.5rem;
}

.modal-content p {
  margin: 0 0 16rem 0;
  line-height: 1.5rem;
}

.modal-content p span {
  font-weight: bold;
}

.modal.show {
  display: block;
}